<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/MudBlazor.Extensions/mudBlazorExtensions.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/MudBlazor.Extensions/js/mudBlazorExtensions.js"></script>
    <script src="js/app.js"></script>
    <script src="_content/Kesco.Lib.Web.BZ.Controls/js/kescoColumnSettings.js"></script>
    <script src="_content/Kesco.Lib.Web.BZ.Controls/js/kescoGridColumnDrag.js"></script>
    <script src="_content/Kesco.Lib.Web.BZ.Controls/js/kescoGridPrint.js"></script>
</body>
</html>
